table tr td:first-child{
    background-color: burlywood;
    
}
table tr td:last-child{
    text-align: right;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
table td{
    border: 1px solid black;
    padding: 4px;
}